body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: hidden;
    background-color: bisque;
}

#result {
    margin: auto;
    margin-top: 80px;
    height:200px;
    width:300px;
    background-color: white;
    color: black;
    border-radius: 3px;
    border: 3px solid black;
    font-size:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

#numbers {
    margin: auto;
    margin-top:50px;
    height:150px;
    width:fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.number {
    height:100%;
    width:100px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: 3px solid black;
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: crazy 3000ms infinite;
    cursor:pointer;

}

button#startbutton {
    margin: auto;
    margin-top: 30px;
    display: block;
    padding: 5px;
    background-color: skyblue;
    color: black;
    height: 35px;
    width: 150px;
    border-radius: 3px;
    border: none;
    cursor: pointer;

}

button#startbutton:hover {
    background-color: rgb(27, 71, 88);
    color: white;
}

button#startbutton:active {
    transform: scale(0.9);
}

@keyframes crazy {
    0% {
        transform:translateY(0px)
    }
    50% {
        transform:translateY(15px)
    }
    100% {
        transform:translateY(0px)
    }
  
}